<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Bootstrap demo</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	</head>
	<body>
		<table class="table">
			<thead>
			  <tr>
				<th scope="col">#</th>
				<th scope="col">Class Name</th>
				<th scope="col">Date</th>
				<th scope="col">Teacher</th>
				<th scope="col">Status</th>
				<th scope="col"></th>
			  </tr>
			</thead>
			<tbody>
				<% for(var i=0; i<content.length; i++) {%>
					<tr>
					  <td><%= content[i].id %></td>
					  <td><%= content[i].class_name %></td>
					  <td><%= content[i].date %></td>
					  <td><%= content[i].teacher %></td>
					  <td><%= content[i].status %></td>
					  <td><a class="btn btn-primary" href="#" role="button">Join</a></td>
					</tr>
				<% } %>
			</tbody>
		  </table>

		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
	</body>
</html>
