<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Student Portal</title>
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div id="viewport">
			<!-- Sidebar -->
			<div id="sidebar">
				<header>
					<a href="#">Student Portal</a>
				</header>
				<ul class="nav">
					<li>
						<a href="/classes" class="nav-link link-light">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								class="bi bi-house-door"
								viewBox="0 0 16 16"
							>
								<path
									d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"
								/>
							</svg>
							Dashboard
						</a>
					</li>
					<li>
						<a href="#" class="nav-link link-light">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								class="bi bi-envelope"
								viewBox="0 0 16 16"
							>
								<path
									d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
								/>
							</svg>
							Messages
						</a>
					</li>
					<li>+----</li>

					<li>
						<a href="/users/logout" class="nav-link link-light">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								class="bi bi-box-arrow-left"
								viewBox="0 0 16 16"
							>
								<path
									fill-rule="evenodd"
									d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"
								/>
								<path
									fill-rule="evenodd"
									d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
								/>
							</svg>
							Logout
						</a>
					</li>
				</ul>
			</div>
			<!-- Content -->
			<div id="content">
				<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
					<!-- Container wrapper -->
					<div class="container-fluid">
						<!-- Collapsible wrapper -->
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

							<!-- Icons -->
							<ul class="navbar-nav d-flex flex-row me-1">
								<li class="nav-item me-5 me-lg-0">
									<a
										class="nav-link"
										id="userName"
										href="/users/<%= user.id %>"
									>
										<%= user.firstname %> <%= user.lastname %>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="16"
											height="16"
											fill="currentColor"
											class="bi bi-person-circle"
											viewBox="0 0 16 16"
										>
											<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
											<path
												fill-rule="evenodd"
												d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
											/>
										</svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- Container wrapper -->
				</nav>
				<!-- Navbar End -->
				<div class="ms-2">
					<h1 class="display-6">User Info</h1>
					<dl class="row">
						<dt class="col-sm-3">Name</dt>
						<dd class="col-sm-9"><%= user.firstname %> <%= user.lastname %></dd>

						<dt class="col-sm-3">E-mail</dt>
						<dd class="col-sm-9"><%= user.email %></dd>

						<dt class="col-sm-3">Joined at</dt>
						<dd class="col-sm-9">
							<%= user.createdAt.toLocaleString("tr-TR") %>
						</dd>
					</dl>
					<div>
						<h4>My Classes</h4>
						<table class="table align-middle mb-0 bg-transparent table-hover">
							<thead class="bg-transparent">
								<tr>
									<th>ID</th>
									<th>Class Name</th>
									<th>Date</th>
									<th>Status</th>
									<th>Teacher</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody id="myTable">
								<% for(let i = 0; i < myClass.length; i++) { %>
								<tr>
									<td><%= myClass[i].id %></td>
									<td><%= myClass[i].class_name %></td>
									<td><%= myClass[i].date.toLocaleString("tr-TR") %></td>
									<td>
										<%if(myClass[i].status == "pending") {%>
										<span class="badge rounded-pill text-bg-success"
											>Pending</span
										>
										<% } else if (myClass[i].status == "finished") {%>
										<span class="badge rounded-pill text-bg-danger"
											>Finished</span
										>
										<% } %>
									</td>
									<td><%= myClass[i].teacher %></td>
									<td>
										<a
											class="btn btn-outline-dark"
											href="/classes/<%= myClass[i].classId %>"
											role="button"
											>Info</a
										>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
			integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
			integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
			crossorigin="anonymous"
		></script>
	</body>
</html>
